$accent-color: #d60032;

.hero-container {
  display: flex;
  height: 100vh;
  .text {
    display: flex;
    margin: 0 5rem;
    .text-container {
      margin: auto;
      color: white;
      backdrop-filter: blur(5px);
      h4 {
        font-size: 42px;
        color: $accent-color;
      }

      h2 {
        font-size: 82px;
      }

      p {
        max-width: 600px;
      }

      .brands {
        button {
          border: 0;
          margin: 1em;
          background-color: rgba(240, 248, 255, 0);
          img {
            max-width: 100px;
            max-height: 46px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .hero-container {
    text-align: center;
    .text {
      margin: auto;
      .text-container {
        p {
          margin: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .hero-container {
    .text {
      .text-container {
        h4 {
          font-size: 22px;
        }
        h2 {
          font-size: 62px;
        }
      }
    }
  }
}
