$accent-color: #d60032;

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: auto;

  padding: 1em 0;
  color: $accent-color;

  ul {
    display: flex;
    list-style-type: none;
    li {
      a {
        text-decoration: none;
        color: $accent-color;
        margin: 0 1em;
        font-size: 20px;
        font-weight: 500;
      }
    }

    button {
      border: none;
      display: none;
      img {
        max-width: 35px;
      }
    }
  }

  .links {
    display: flex;
  }
}

nav {
  margin: 0 1em;
  .hamMenu {
    top: 5rem;

    justify-content: space-between;
    width: 100%;
    .open {
      display: flex;
    }
    ul {
      display: none;
      flex-direction: column;
      list-style-type: none;
      justify-content: center;
      padding: 0 5em;
      align-items: center;

      li {
        margin: 1em 0;

        a {
          color: $accent-color;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .Nav {
    ul {
      li {
        display: none;
      }
      button {
        display: block;
        background: none;
      }
    }
  }
}
