footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #d60032;
  border-bottom: 1px solid #d60032;

  .footer-container {
    padding: 2em;
    .icons {
      align-items: center;
      display: flex;
      justify-content: center;
      a {
        img {
          max-width: 30px;
          margin: 0 10px;
        }
      }
    }

    .text {
      margin: 1.5em 0;
      text-align: center;
      color: gray;
      a {
        color: gray;
        text-decoration: none;
        margin: 0 2px;
      }
    }
  }
}
