$accent-color: #d60032;

.showcases {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(12, 1, 1);

  .showcase {
    display: flex;
    justify-content: center;

    .container {
      display: flex;
      max-width: 1600px;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 0 1em;

      img {
        max-width: 400px;
        max-height: 540px;
      }

      .text {
        color: white;
        margin: 0 0 0 auto;
        h1 {
          font-size: 48px;
        }
        h3 {
          font-size: 26px;
          color: $accent-color;
        }
        p {
          max-width: 700px;
          font-size: 18px;
        }
      }
    }
  }
  .showcase2 {
    display: flex;
    justify-content: center;

    .container {
      display: flex;
      flex-direction: row-reverse;
      max-width: 1600px;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 0 1em;

      img {
        max-width: 400px;
        max-height: 540px;
      }
      .text {
        color: white;
        margin: 0 auto 0 0;
        h1 {
          font-size: 48px;
        }
        h3 {
          font-size: 26px;
          color: $accent-color;
        }
        p {
          max-width: 700px;
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .showcases {
    .showcase {
      .container {
        flex-direction: column;
        margin: 1em 0;
        .text {
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          h1 {
            margin: auto;
          }
          h3 {
            margin: auto;
          }
          p {
            text-align: center;
          }
        }
      }
    }

    .showcase2 {
      .container {
        flex-direction: column;
        margin: 1em 0;
        .text {
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          h1 {
            margin: auto;
          }
          h3 {
            margin: auto;
          }
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
